sudo: false
matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - os: linux
      python: 3.8
      env: TOXENV=py38
    - os: linux
      dist: xenial
      python: 3.7
      env: TOXENV=py37
      sudo: true
    - python: "3.6"
      env: TOXENV=cover
    - python: "3.6"
      env: TOXENV=pep8
    - python: "3.6"
      env: TOXENV=docs
    - python: "2.7"
      env: TOXENV=py27
    - if: tag IS present
      python: "3.6"
      env:
        - TWINE_USERNAME=stestr-release
      install: pip install -U twine
      script:
        - python3 setup.py sdist bdist_wheel --universal
        - twine upload dist/stestr*

cache:
  directories:
    - $HOME/.cache/pip
install: pip install -U tox coveralls
language: python
# NOTE(mtreinish): Just to test
script:
  - 'tox -- --dynamic'
after_success: .travis/coveralls.sh
notifications:
  email: false
