include .bzrignore
include Apache-2.0
include BSD
include COPYING
include INSTALL.txt
include MANIFEST.in
include Makefile
include NEWS
include README.txt
include doc/*.txt
include testrepository/tests/*.py
recursive-include testrepository/tests *.py
